body {
    font-family: Arial, sans-serif;
    background: #000 url("../image/img.png") center center / cover no-repeat fixed;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */

}

.game-container {
    position: relative;
    width: 50%;
    /* height: 70%; */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    /* background-color: aqua; */
    align-items: center;
    /* text-align: center; */
}

h1 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}


#countdownTimer {
    top: 10%;
    position: fixed;
    font-size: 3.5rem;
    color: #f9a736;
    /* display: none; */
}

button {
    margin-top: 10px;
    width: 160px;
    height: 50px;
    border-radius: 3px;
    background-color: #f9a736;
    color: #fff;
    font-weight: 1000;
}

#wordDisplay {
    /* position: relative; */
    /* margin-top: 20px; */
    width: 50%;
    height: 100px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9a736;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 3rem;
    font-weight: 500;
}

#wordInput {
    /* top:30%; */
    width: 50%;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
}



#timer,
#score {
    margin-top: 20px;
    margin-left: 20px;
}


.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameInfo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color:#fff;
}

#gameInfo>div {
    margin: 0 10px;
    /* 为每个子项添加一些外边距*/
}

 /* --------pop up modal-----*/
.modal {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: goldenrod;
    z-index: 10;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, .5);
}

.modal-content {
    padding: 20px;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 30px;
}
